
.flexdropdownmenu, .flexdropdownmenu ul{ /*topmost and sub ULs, respectively*/
  font: normal 14px Arial;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  
  list-style-type: none;
  background: white;
  border: 0px solid light blue;
  border-bottom-width: 0;
  visibility: hidden;
  display: none; /*collapse all sub menus to begin with*/
  box-shadow: 3px 3px 8px #818181; /*shadow for CSS3 capable browsers.*/
  -webkit-box-shadow: 3px 3px 8px #818181;
  -moz-box-shadow: 3px 3px 8px #818181;
  }
  
  
  .flexdropdownmenu li{
  position: relative;
  }
  
  .flexdropdownmenu li a{
  display: block;
  width: 205px; /*width of menu (not including side paddings)*/
  color: #FFFFFF;
  background: #49356A;
  border-bottom: 1px light blue;
  text-decoration: none;
  padding: 8px 5px;
  }
  
  * html .flexdropdownmenu li{ /*IE6 CSS hack*/
  display: inline-block;
  width: 170px; /*width of menu (include side paddings of LI A*/
  }
  
  .flexdropdownmenu li a:hover, .flexdropdownmenu li.selected>a{
    /*background: #C9DDE6;*/
    color:#CCEE99;
  }
  
  .rightarrowclass{
  position: absolute;
  top: 6px;
  right: 5px;
  }
  .flexdropdownmenu.jqflexmenu
  {}
  .flexdropdownmenu li ul{min-width:440px;  background: #49356A;}
  .flexdropdownmenu li ul li{float:left; width:220px;}
  .flexdropdownmenu li ul li ul{min-width:440px; width:220px;}



  body {
    background-color: #000000;
    }
    
    h1 {color:#00ff00;}
    p.main {color:#333333; font-family:Arial; font-size:14pt; font-style:bold;}
    p.footer {color:#333333; font-family:Arial; font-size:7pt; font-weight:normal;}
    p {color:#333333; font-family:Arial; font-size:11pt; font-style:bold;}
    
    a:link {font-family:Arial; font-size:11pt; text-decoration:none;}    /* unvisited link */
    a:visited {font-family:Arial; font-size:11pt; text-decoration:none;} /* visited link */
    a:hover {color:#0000FF; font-family:Arial; font-size:11pt; text-decoration:none; font-weight:normal;}   /* mouse over link */
    a:active {font-family:Arial; font-size:11pt; text-decoration:none;}  /* selected link */
    
    a.nav:link {color:#ffffff; font-family:Arial; font-size:14pt; text-decoration:none;}
    a.nav:visited {color:#ffffff; font-family:Arial; font-size:14pt; text-decoration:none;}
    a.nav:hover {color:#CCEE99; font-family:Arial; font-size:14pt; text-decoration:none;}
    a:nav:active {color:#ffffff; font-family:Arial; font-size:14pt; text-decoration:none;}
    
    a.footer:link {color:#333333; font-family:Arial; font-size:7pt; text-decoration:underline;}
    a.footer:visited {color:#333333; font-family:Arial; font-size:7pt; text-decoration:underline;}
    a.footer:hover {color:#0000FF; font-family:Arial; font-size:7pt; text-decoration:underline;}
    a:footer:active {color:#333333; font-family:Arial; font-size:7pt; text-decoration:underline;}
    
    td {color:#333333; font-family:Arial; font-size:11pt; text-decoration:none;}
    
    
    #calendar { background-color: #fff; border: 1px solid #cbcbcb; -moz-border-radius: 5px; -webkit-border-radius:5px; }
    
    #calendar_wrap { margin-left: 10px; margin-bottom: 6px; overflow: hidden; text-align: left; }
    #calendar_wrap .title_bar { font-weight: bold; color: #1C1C1C; text-align: center;  border:1px solid #fff; margin-bottom:15px; margin-top:10px; }
    #calendar_wrap .title_bar .previous { float: left; display: block; width: 25px; height: 20px; background: url(http://promenadeshopping.com/images/previous_month.gif) left top no-repeat; margin-top:10px; margin-left:10px;  }
    #calendar_wrap .title_bar .next { float: right; display: block; width: 25px; height: 20px; background: url(http://promenadeshopping.com/images/next_month.gif) right top no-repeat; margin-top:10px; margin-right:10px;  }
    #calendar_wrap .title_bar .month {  width: 800px; margin:10px auto; padding-bottom:0 !important; padding-bottom:10px; }
    #calendar_wrap .title_bar h2 { font-size: 16px;     }
    
    .cal_day { position: relative; float: left; margin: 0 4px 17px 0px !important; width: 110px; height: 76px; background: url(http://promenadeshopping.com/images/day.png) top no-repeat; }
    .cal_day .day_heading { position: relative; float: left; width: 40px; height: 16px; padding: 3px 6px 6px 9px; text-transform: uppercase; font: 14px Arial; color: #FFF; }
    .cal_day .day_count { position: relative; float: right; width: 64px; text-align: right; height: 16px; padding: 6px; font: 11px Arial, sans-serif; color: #FFF; }
    .cal_day .day_number { 
        clear: left;
        color: #2B2B2B;
        font: bold 44px Arial;
        height: 40px ;
        text-align: center;
        width: 97%;
        z-index: 999;
    }
    .cal_day .day_number.today { color: #08c; }
    
    
    .last_month, .next_month {
      filter:alpha(opacity=20);
      -moz-opacity:0.2;
      -khtml-opacity: 0.2;
      opacity: 0.2;
    }
    .current_day { position: relative; float: left; margin: 0 4px 17px 0px !important; width: 110px; height: 76px; background: url(http://promenadeshopping.com/images/day_current.png) top no-repeat; }
    .current_day .day_heading { position: relative; float: left; width: 40px; height: 16px; padding: 3px 6px 6px 9px; text-transform: uppercase; font: 14px Arial; color: #FFF; }
    .current_day .day_count { position: relative; float: right; width: 64px; text-align: right; height: 16px; padding: 6px; font: 11px Arial, sans-serif; color: #FFF; }
    .current_day .day_number {
        clear: left;
        color: #2b2b2b;
        font: bold 44px Arial;
        height: 40px ;
        text-align: center;
        width: 97%;
        z-index: 999;
    }
    .current_day .day_number.today { color: #08c; }
    
    
    span.event { width:55px; margin-top: -1px; padding:2px 0 !important; padding:1px 0 1px; display:inline-block; text-align:center; background-color: #000; opacity:0.4; filter:alpha(opacity=40); -moz-border-radius: 8px; -webkit-border-radius:8px; }
    .view_mobile_site_link a{
        text-decoration: none;
        /*color: #333333;*/
    }